@using ModernBusiness.Helpers;
@using ModernBusiness.Models;

@model ModernBusiness.Models.CalloutsModel

@if (Model.CalloutFolder == null || Model.Callouts.Count == 0)
{
    <div class="error">@Model.PlaceholderMessage</div>
}
else
{
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.CalloutFolder[FieldNames.CalloutContainer.Heading]))
        {
            <div class="col-lg-12">
                <h2 class="page-header">@Html.Sitecore().Field(FieldNames.CalloutContainer.Heading, Model.CalloutFolder)</h2>
            </div>
        }
        @foreach (CalloutModel callout in Model.Callouts)
        {
            <!-- Callout Style: @callout.Style -->
            
            // display callout based on style
            if (callout.Style == ItemNames.Options.CalloutStyles.Image)
            {
                <div class="col-md-4 col-sm-6">
                    <a href="@callout.Link">
                        <img class="img-responsive img-portfolio img-hover" src="@callout.ImageSrc" alt="@callout.ImageAlt">
                    </a>
                </div>
            }
            else // default is Icon Box
            {
                <div class="col-md-@callout.ColumnWidth">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><i class="fa fa-fw @callout.IconClass"></i> @Html.Sitecore().Field(FieldNames.Callout.Heading, callout.InnerItem)</h4>
                        </div>
                        <div class="panel-body">
                            <p>@Html.Sitecore().Field(FieldNames.Callout.Intro, callout.InnerItem)</p>
                            <a href="@callout.Link"
                               class="btn btn-default">@Html.Sitecore().Field(FieldNames.__Button.Label, callout.InnerItem)</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
